executor{
	name = 'slurm'
  	queueSize=999
}

process {
    queue = 'genomicsguestA'
    memory = '4 GB'
    clusterOptions = '-A b1042 -t 12:00:00 -e errlog.txt'
    submitRateLimit = '3 sec'
}


workDir = "/projects/b1042/AndersenLab/work/mma"
tmpDir = "/projects/b1042/AndersenLab/tmp/mma"

report {
    enabled = true
}